body {
  background-image:  url("finish.png")
}

#flash {
  width: 200px;
  height: 200px;
}

#greenArrow {
  position: relative;
}

#start_race {
  width: 100px;
  height: 100px;
}

#during_race {
  width: 100px;
  height: 100px;
  display: none;
}

#knocked {
  width: 200px;
  height: 200px;
  disply:none;
}

#fired {
  width: 200px;
  height: 200px;
  display: none;
}

#arrow {
  width: 200px;
  height: 150px;
  display: none;
  position: absolute;
}
